*{
    margin: 0px;
    padding: 0%;
}
.menu-container{
    background-color: rgb(54, 50, 50);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 150px;
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.item:hover{
    color: red;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border: 2px solid gray;
    color: white;
    background-image: url("background.png"),linear-gradient(45deg, #121111,#000);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.discription{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
}
.About-Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding-top: 20px;  
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: #000;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 70px;
}
.it{
    background-color: grey;
    margin: 10px;
}
.id{
    margin: 10px;
}
.peragrafh{
    margin: 10px;
}
.dis{
    margin: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
